@charset "UTF-8";
/* CSS Document */
/*
	Designed by Shawn at EUM
	http://ezse.com
	http://ezse.com/eum/
	AUG 2011
*/
/* @group reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,sans-serif;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}small{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}

/* @end */
/* @group base style */
html{
	background-image: url('title-bg.jpg');
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
body, html{ 
	line-height: 1.6em;
	color: #333;
}

body{
	width: 992px;
	margin: 0 auto;
}

a:link { color:#137fd5; }
a:visited { color:#137fd5; }
a:hover { color:#3d9dea; text-decoration:none;}
a:active { color:#3d9dea; }
a.disabled { color: #333; cursor: default; }
a.disabled:hover { text-decoration: none; }

.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;max-height:0;}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clr {clear:both;height:0;}

.hide {	display: none; }


.stc{
	text-indent: -1000000px;
	overflow: hidden;
}
/* @end */

/* @group Header */
div.logo{
	width: 112px;
	float: left;
}

div.header{
	padding-top: 16px;
	height: 48px;
}

div.menu{
	padding-top: 8px;
	width: 600px;
	float: right;
	font-size: 16px;
}
li.navi-item{
	float:left;
	height: 32px;
	margin-left: 10px;
	/*background-image: url('menu-tab-selected-bg.png');
	background-repeat: no-repeat;
	overflow: hidden;*/
}

ul.hl-daw-remote li#li-daw-remote,
ul.hl-midi-pad li#li-midi-pad,
ul.hl-beat-master li#li-beat-master,
ul.hl-tune-master li#li-tune-master,
ul.hl-more li#li-more,
li.selected{
	background-color: #2289d8;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
li.selected a{
	color: #fff !important;
}

li.navi-item a{
	display: inline-block;
	padding: 6px;
	margin: 0 5px;
	color: #bee1fb ;
	text-shadow: 0 1px 1px #1276c2;
}
li.navi-item a:hover{
	color: #fff !important;
	/*border-bottom: solid 2px #fff;*/
	
}
/* @end */

/* @group Body */
div.body{
	display: block;
	margin-top: 80px;
	padding: 0 10px;
	min-height: 1024px;
}

div.main-feature{
	height: 560px;
	width: 100%;
}
div.app-main-feature{
	height: 560px;
	width: 100%;
}
/* Right as main part */
div.app-main-feature.cright{
	
}
div.app-main-feature.cright .left{
	width: 375px;
	float: left;
}
div.app-main-feature.cright .right{
	width: 613px;
	left: right;
}

span.highlight{
	background-color:  #FF9;
	padding: 0 5px;
	color: #555;
	/*font-weight: bold;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-right: 1px solid #CC0;
	border-bottom: 1px solid #CC0;
}

/*div.app-main-feature h2{
	text-indent: -1000000px;
	height: 114px;
	width: 114px;
	background-color: #f00;
	margin-left: 50px;
	margin-top: 50px;
}*/

a.appstore{
	background: url('../images/on-appstore.jpg') no-repeat top left;
	width: 197px;
	height: 69px;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	display: block;
	text-indent: -100000px;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.appstore:hover{
	
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0.61, 1, 0.5);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0.61, 1, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0.61, 1, 0.5);
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

div.sec-title{
	border-bottom: 1px dotted #4ca8e6;
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
	margin-top: 30px;
	*width:400px;
}
div.sec-title h1{
	display: inline-block;
	color: #0478c7;
	text-transform:uppercase;
}

div.sec-content{
	width: 400px;
}

div.sec-content p{
        padding-top:5px;
}
div.works-show{
	width: inherit !important;
}
ul.works-list{
	display: block;
	*width: 840px;
}
li.works-item{
	float:left;
	margin: 6px 12px 6px 0;
	position: relative;
	text-align: center;
	display: block;
	height: 160px;
	width: 260px;
}

a.works-item-link{
	display: block;
	height: 160px;
	width: 260px;
	
}

/* @end */


/* @group Slogan */
.big-div{
	background-image: url('big-div.jpg');	
	background-repeat: no-repeat;
	background-position: top;
}
.small-div{
	background-image: url('small-div.jpg');	
	background-repeat: no-repeat;
	background-position: top;
}

.main-slogan{
	height: 128px;
}
#main-slogan{
	background-image: url('we-make-music-apps.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 100px; /* 128/1.618+43/2*/
}
.slogan-desc{
	text-align: center;
	padding: 5px;
	font-size: 16px;
	color: #aaa;
}

.text-slogen{
	height: 30px;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 24px;
	color: #666;
	padding-top: 50px;
}
.text-slogen-sub{
	height: 26px;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 18px;
	color: #999;
	padding-top: 50px;
}

/* @end */
/* @group APPs*/
.apps{
	height: 208px;
	background-repeat: no-repeat;
	text-align: center;
	background-image: url('apps-desc.jpg');
	*margin-left:50px;
}
.app-item{
	height: 176px;
	width: 224px;
	display: inline-block;
	*display:block;
	*float:left; /*Fix IE Problem. I hate IE! REALLY!*/
	margin-top: 40px;
	
}
.app-item a{
	height: 176px;
	width: 224px;
	display: block;
}
#app-dawremote{
	background-image: url('app-daw-remote.png');
}
#app-beatmaster{
	background-image: url('app-beat-master.png');
}
#app-tunemaster{
	background-image: url('app-tune-master.png');
}
#app-midipad{
	background-image: url('app-midi-pad.png');
}
.select-app-0{
	background-position: 0 0;
}
.select-app-1{
	background-position: 0 -208px;
	*background-position: -50px -208px;
}
.select-app-2{
	background-position: 0 -416px;
	*background-position: -50px -416px;
}
.select-app-3{
	background-position: 0 -624px;
	*background-position: -50px -624px;
}
.select-app-4{
	background-position: 0 -832px;
	*background-position: -50px -832px;
}

.subsc{
	text-align: center;
	height: 128px;
	padding-top: 40px;
}
.subsc h2{
	font-size: 24px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-weight: normal;
	color: #666;
	height: 30px;
	margin-bottom: 10px;
}
/* @end */

/* @group Post content*/
div.post-content{
	
}
div.post-content p{
	margin-bottom: 10px;
	/*max-width: 400px;
	*width:400px;*/
}
div.post-content ul,
div.post-content ol{
	padding: 20px 0;
}

div.post-content h1{
	border-left: 5px solid #c0e1f8;
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
	padding-left: 5px;
	color: #4ca8e6;
	font-size: 12px;
}
div.post-content h2{
        padding-top:5px;
	color: #4ca8e6;
	font-size: 12px;
}
div.post-content em{
	font-style:italic;
}
div.categories{
	float: right;
	height: 70px;
	width: 70px;
	background-color: #F00;
	margin-top: 30px;
}



div.notfound{
	margin-top: 150px;
	width: 820px;
}
div.notfound-img{
	float: left;
	background: url('notfound.png') no-repeat;
	height: 256px;
	width: 384px;
}
div.notfound-content{
	padding-top: 120px;
	width: 350px;
	float: right;
}
div.notfound-content h1{
	font-size: 28px;
	color: #4ca8e6;
}
div.notfound-content p{
	font-size: 14px;
	color: #333;
	padding-top: 10px;
}
/* @end */

/* @group Form */

span.frm-title{
	padding-top: 5px;
	color: #4ca8e6;
}
span.frm-desc{
	padding-left: 5px;
	color: #666;
	font-size: 10px;
}

input,textarea,button{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.text-input,.text-input-flat{
	background-color:#fff;
	border:1px solid #bbb;
	color:#cdcdcd;
	font-size:12px;
	padding:7px 9px 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.text-input:focus,.text-input-flat:focus{
	color:#666;
}
.text-input{
	box-shadow:inset 0 1px 2px #d0d0d0;
	-moz-box-shadow:inset 0 1px 2px #d0d0d0;
	-webkit-box-shadow:inset 0 1px 2px #d0d0d0;
}

.btn{
	border:none;
	cursor:pointer;
	display:-moz-inline-stack;
	display:inline-block;
	*display:inline;
	font-weight:bold;
	font-size:12px;
	letter-spacing:-0.03em;
	line-height:1.25em;
	overflow:visible;
	padding:7px;
	width:auto;
	zoom:1;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.btn:hover{
	text-decoration:none!important;
}
.btn-primary{
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#eee));
	background:-moz-linear-gradient(top,#fff,#eee);
	background-color:#eee;
	border:1px solid #bbb;
	color:#999;
	text-shadow:#EEE 0 -1px 0;
}
.btn-primary:active{
	background:#eee;
}

div.frm-right{
	padding-top: 6px;
	width: 400px;
	float: left;
	clear: none;
}
div.frm-left{
	padding-top: 5px;
	*margin-left:0px !important;
	margin-left: 423px;
	_margin-left:0;
	width: 400px;
}
textarea#comment{
	height: 165px;
	width: 390px;
	*width:370px;
	max-height:165px;
	max-width: 390px;
}

ul.cvlist{
    list-style: circle inside none;
    padding-top:0 !important;
}
ol.cvlist{
    list-style: decimal inside none;
    padding-top:0 !important;
}


.sub-note{
    font-size:10px;
    color:#888;
}
/* @end */

/* @group Post*/
.post-title{
	font-size: 14px;
	display: inline-block;
	+display:inline;
	color: #0478c7;
	text-transform:uppercase;
}
.single-title{

	font-size: 16px;
	display: inline-block;
	+display:inline;
	color: #0478c7;
	text-transform:uppercase;	
	
}
.single-post{
	margin-top: 50px;
}
.single-post p,
.post-entry p{
	padding-top: 10px;
}
span.post-date{
	color: #ccc;
	padding-left: 10px;
	font-size: 10px;
}

.du-lang{
	clear: both;
	display: inline-block;
	padding-bottom: 10px;
	+display:block;
}
.du-lang .langitem{
	width: 400px;
	display: block;
	float: left;
	+margin-bottom: 10px;/*I hate IE!!!*/
}

.du-lang:after{
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	
}

.du-lang .langitem:first-child{
	padding-right: 15px;
}


.post-title a{
	color: #0478c7;
}


ol.commentlist{
	margin: 10px 10px 10px 0;
}

ol.commentlist li{
	border-left: solid #8eaf53 5px;
	margin-top: 20px;
	padding-left: 10px;
}
ol.commentlist li.alt{
	
}


li.authorcomment{
	border-left: solid #f19012 5px !important;
	margin-left: 50px;
}
.cmtinfo cite,
.cmtinfo cite a{
	font-size: 14px;
	color: #8eaf53 !important;
	font-weight: bold;
}
li.authorcomment .cmtinfo cite,
li.authorcomment .cmtinfo cite a{
	color: #f19012 !important;
}
.ios-app{
	height:80px;
	width:400px;
	padding:5px;
	float:left;
}
.ios-app div{
	float:left;
	margin-left:10px;
	width:320px;
}
.ios-app img{
	float:left;
}
/* @end */



/* @group Featues*/
.grid1{
	width: 992px;
	padding: 0 72px;
}
.grid1 h3{
	color: #333;
	font-size: 1.3em;
	line-height: 1.6;
	margin-bottom: 10px;
}
.grid1 p{
	margin-bottom: 5px;
	font-size: 1.1417em;
	line-height: 1.6;
	word-spacing: -1px;
	color: #666;
}

ul.all-features{
	
}
ul.all-features li{
	padding-left: 20px;
	background: url('stars.jpg') no-repeat 0 7px;
	padding-top: 5px;
}

.grid2{
	width: 992px;
}

.grid2 .column{
	float:left;
	display: inline;
}
.grid2 .column.first{
	padding-left: 72px;
	width: 40%;
}
.grid2 .column.last{
	padding-right: 72px;
	width: 40%;
	float: right !important;
}

.grid2.lb .column.first{/* left big*/
	padding-left: 72px;
	width: 46%;
}
.grid2.lb .column.last{
	padding-left: 72px;
	width: 32%;
	float: right !important;
}

.grid2.rb .column.first{/* left big*/
	padding-left: 72px;
	width: 32%;
	
}
.grid2.rb .column.last{
	padding-left: 72px;
	width: 46%;
	float: right !important;
}
.grid2.lb .column.last.ispicture{
	float:left !important;
	padding-left: 20px !important;
}


.grid2 .column h3{
	color: #333;
	font-size: 1.3em;
	line-height: 1.6;
	margin-bottom: 10px;
}
.grid2 .column p{
	margin-bottom: 5px;
	font-size: 1.1417em;
	line-height: 1.6;
	word-spacing: -1px;
	color: #666;
}

.grid2 .column p:last-child{
	margin-bottom: 18px;
}
.grid2.cent .column {
	text-align: center;
}

/* Give some space for upper */
.grid2 .column.space-up{
	padding-top: 64px;
}
.grid2 .column.space-up-80{
	padding-top: 80px;
}

div.space24{
	padding-top: 24px;
}

div.space48{
	padding-top: 48px;
}

/* @end */

/* @group feedback*/
.feedback-desc{
	margin-bottom: 5px;
	font-size: 1.1417em;
	line-height: 1.6;
	word-spacing: -1px;
	color: #666;
	text-align: center;
}
/* @end */

/* @group Footer */
.footer{
 padding-top: 20px;
 color: #888;
 text-align: center;
 height:80px;
 width: 100%;
 background-color: #fff;
}

/* @end */




/* @group Apps Page */

#app-daw-remote{
	background: url('../images/app-daw-remote-spec-main-feature.jpg') no-repeat top right #fff;
}
#app-daw-remote-logo{
	height: 198px;
	width: 216px;
	background: url('../images/app-daw-remote-logo.jpg') no-repeat top left #fff;
	margin-top: 110px;
	margin-left: 30px;
}
#app-daw-remote a.appstore{
	margin-left: 40px;
	margin-top: 20px;
}
/* @end */

/* @group Quote */
.quote{
	padding: 30px 100px 0;
}
.quote-title{
	color: #444;
}
.quote-content{
	font-family: "minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif;
	font-size: 18px;
	color: #888;
	line-height: 24px;
	font-style: italic;
}
.quote-footer{
	padding-top: 10px;
	text-align: right;
	padding-right: 100px;
}
.quoter{
	font-weight: bold;
}

.quote-flag{
	height: 11px;
	width: 16px;
	margin: 0 3px;
	background: url('flags.png') no-repeat #fff;
	display: inline-block;
}
.quote-flag.uk{
	background-position: -284px -173px;
}
.quote-flag.de{
	background-position: -228px -33px;
}
.quote-flag.us{
	background-position: -4px -565px;
}
/* @group Flags*/
/* CSS Document */

.flag {
	display: inline-block;
	margin: 5px 5px 0 5px;
	width: 16px;
	height: 11px;
	background: url(flagssprite_small.png) no-repeat;
}
.flag.ad {
	background-position: 0 0;
}
.flag.ae {
	background-position: 0 -11px;
}
.flag.af {
	background-position: 0 -22px;
}
.flag.ag {
	background-position: 0 -33px;
}
.flag.ai {
	background-position: 0 -44px;
}
.flag.al {
	background-position: 0 -55px;
}
.flag.am {
	background-position: 0 -66px;
}
.flag.an {
	background-position: 0 -77px;
}
.flag.ao {
	background-position: 0 -88px;
}
.flag.ar {
	background-position: 0 -99px;
}
.flag.as {
	background-position: 0 -110px;
}
.flag.at {
	background-position: 0 -121px;
}
.flag.au {
	background-position: 0 -132px;
}
.flag.aw {
	background-position: 0 -143px;
}
.flag.ax {
	background-position: 0 -154px;
}
.flag.az {
	background-position: 0 -165px;
}
.flag.ba {
	background-position: 0 -176px;
}
.flag.bb {
	background-position: 0 -187px;
}
.flag.bd {
	background-position: 0 -198px;
}
.flag.be {
	background-position: 0 -209px;
}
.flag.bf {
	background-position: 0 -220px;
}
.flag.bg {
	background-position: 0 -231px;
}
.flag.bh {
	background-position: 0 -242px;
}
.flag.bi {
	background-position: 0 -253px;
}
.flag.bj {
	background-position: 0 -264px;
}
.flag.bm {
	background-position: 0 -275px;
}
.flag.bn {
	background-position: 0 -286px;
}
.flag.bo {
	background-position: 0 -297px;
}
.flag.br {
	background-position: 0 -308px;
}
.flag.bs {
	background-position: 0 -319px;
}
.flag.bt {
	background-position: 0 -330px;
}
.flag.bv {
	background-position: 0 -341px;
}
.flag.bw {
	background-position: 0 -352px;
}
.flag.by {
	background-position: 0 -363px;
}
.flag.bz {
	background-position: 0 -374px;
}
.flag.ca {
	background-position: 0 -385px;
}
.flag.catalonia {
	background-position: 0 -396px;
}
.flag.cc {
	background-position: 0 -407px;
}
.flag.cd {
	background-position: 0 -418px;
}
.flag.cf {
	background-position: 0 -429px;
}
.flag.cg {
	background-position: 0 -440px;
}
.flag.ch {
	background-position: 0 -451px;
}
.flag.ci {
	background-position: 0 -462px;
}
.flag.ck {
	background-position: 0 -473px;
}
.flag.cl {
	background-position: 0 -484px;
}
.flag.cm {
	background-position: 0 -495px;
}
.flag.cn {
	background-position: 0 -506px;
}
.flag.co {
	background-position: 0 -517px;
}
.flag.cu {
	background-position: 0 -528px;
}
.flag.cr {
	background-position: 0 -539px;
}
.flag.cs {
	background-position: 0 -550px;
}
.flag.cv {
	background-position: 0 -561px;
}
.flag.cx {
	background-position: 0 -572px;
}
.flag.cy {
	background-position: -16px 0;
}
.flag.cz {
	background-position: -16px -11px;
}
.flag.de {
	background-position: -16px -22px;
}
.flag.dj {
	background-position: -16px -33px;
}
.flag.dk {
	background-position: -16px -44px;
}
.flag.dm {
	background-position: -16px -55px;
}
.flag.do {
	background-position: -16px -66px;
}
.flag.dz {
	background-position: -16px -77px;
}
.flag.ec {
	background-position: -16px -88px;
}
.flag.ee {
	background-position: -16px -99px;
}
.flag.eg {
	background-position: -16px -110px;
}
.flag.eh {
	background-position: -16px -121px;
}
.flag.england {
	background-position: -16px -132px;
}
.flag.er {
	background-position: -16px -143px;
}
.flag.es {
	background-position: -16px -154px;
}
.flag.et {
	background-position: -16px -165px;
}
.flag.eu {
	background-position: -16px -176px;
}
.flag.fam {
	background-position: -16px -187px;
}
.flag.fi {
	background-position: -16px -198px;
}
.flag.fj {
	background-position: -16px -209px;
}
.flag.fk {
	background-position: -16px -220px;
}
.flag.fm {
	background-position: -16px -231px;
}
.flag.fo {
	background-position: -16px -242px;
}
.flag.fr {
	background-position: -16px -253px;
}
.flag.ga {
	background-position: -16px -264px;
}
.flag.gb {
	background-position: -16px -275px;
}
.flag.gd {
	background-position: -16px -286px;
}
.flag.ge {
	background-position: -16px -297px;
}
.flag.gf {
	background-position: -16px -308px;
}
.flag.gh {
	background-position: -16px -319px;
}
.flag.gi {
	background-position: -16px -330px;
}
.flag.gl {
	background-position: -16px -341px;
}
.flag.gm {
	background-position: -16px -352px;
}
.flag.gn {
	background-position: -16px -363px;
}
.flag.gp {
	background-position: -16px -374px;
}
.flag.gq {
	background-position: -16px -385px;
}
.flag.gr {
	background-position: -16px -396px;
}
.flag.gs {
	background-position: -16px -407px;
}
.flag.gt {
	background-position: -16px -418px;
}
.flag.gu {
	background-position: -16px -429px;
}
.flag.gw {
	background-position: -16px -440px;
}
.flag.gy {
	background-position: -16px -451px;
}
.flag.hk {
	background-position: -16px -462px;
}
.flag.hm {
	background-position: -16px -473px;
}
.flag.hn {
	background-position: -16px -484px;
}
.flag.hr {
	background-position: -16px -495px;
}
.flag.ht {
	background-position: -16px -506px;
}
.flag.hu {
	background-position: -16px -517px;
}
.flag.id {
	background-position: -16px -528px;
}
.flag.ie {
	background-position: -16px -539px;
}
.flag.il {
	background-position: -16px -550px;
}
.flag.in {
	background-position: -16px -561px;
}
.flag.io {
	background-position: -16px -572px;
}
.flag.iq {
	background-position: -32px 0;
}
.flag.ir {
	background-position: -32px -11px;
}
.flag.is {
	background-position: -32px -22px;
}
.flag.it {
	background-position: -32px -33px;
}
.flag.jm {
	background-position: -32px -44px;
}
.flag.jo {
	background-position: -32px -55px;
}
.flag.jp {
	background-position: -32px -66px;
}
.flag.ke {
	background-position: -32px -77px;
}
.flag.kg {
	background-position: -32px -88px;
}
.flag.kh {
	background-position: -32px -99px;
}
.flag.ki {
	background-position: -32px -110px;
}
.flag.km {
	background-position: -32px -121px;
}
.flag.kn {
	background-position: -32px -132px;
}
.flag.kp {
	background-position: -32px -143px;
}
.flag.kr {
	background-position: -32px -154px;
}
.flag.kw {
	background-position: -32px -165px;
}
.flag.ky {
	background-position: -32px -176px;
}
.flag.kz {
	background-position: -32px -187px;
}
.flag.la {
	background-position: -32px -198px;
}
.flag.lb {
	background-position: -32px -209px;
}
.flag.lc {
	background-position: -32px -220px;
}
.flag.li {
	background-position: -32px -231px;
}
.flag.lr {
	background-position: -32px -242px;
}
.flag.lk {
	background-position: -32px -253px;
}
.flag.ls {
	background-position: -32px -264px;
}
.flag.lt {
	background-position: -32px -275px;
}
.flag.lu {
	background-position: -32px -286px;
}
.flag.lv {
	background-position: -32px -297px;
}
.flag.ly {
	background-position: -32px -308px;
}
.flag.ma {
	background-position: -32px -319px;
}
.flag.mc {
	background-position: -32px -330px;
}
.flag.md {
	background-position: -32px -341px;
}
.flag.me {
	background-position: -32px -352px;
}
.flag.mg {
	background-position: -32px -363px;
}
.flag.mh {
	background-position: -32px -374px;
}
.flag.mk {
	background-position: -32px -385px;
}
.flag.ml {
	background-position: -32px -396px;
}
.flag.mm {
	background-position: -32px -407px;
}
.flag.mn {
	background-position: -32px -418px;
}
.flag.mo {
	background-position: -32px -429px;
}
.flag.mp {
	background-position: -32px -440px;
}
.flag.mq {
	background-position: -32px -451px;
}
.flag.mr {
	background-position: -32px -462px;
}
.flag.ms {
	background-position: -32px -473px;
}
.flag.mt {
	background-position: -32px -484px;
}
.flag.mu {
	background-position: -32px -495px;
}
.flag.mv {
	background-position: -32px -506px;
}
.flag.mw {
	background-position: -32px -517px;
}
.flag.mx {
	background-position: -32px -528px;
}
.flag.my {
	background-position: -32px -539px;
}
.flag.mz {
	background-position: -32px -550px;
}
.flag.na {
	background-position: -32px -561px;
}
.flag.nc {
	background-position: -32px -572px;
}
.flag.ne {
	background-position: -48px 0;
}
.flag.nf {
	background-position: -48px -11px;
}
.flag.ng {
	background-position: -48px -22px;
}
.flag.ni {
	background-position: -48px -33px;
}
.flag.nl {
	background-position: -48px -44px;
}
.flag.no {
	background-position: -48px -55px;
}
.flag.np {
	background-position: -48px -66px;
}
.flag.nr {
	background-position: -48px -77px;
}
.flag.nu {
	background-position: -48px -88px;
}
.flag.nz {
	background-position: -48px -99px;
}
.flag.om {
	background-position: -48px -110px;
}
.flag.pa {
	background-position: -48px -121px;
}
.flag.pe {
	background-position: -48px -132px;
}
.flag.pf {
	background-position: -48px -143px;
}
.flag.pg {
	background-position: -48px -154px;
}
.flag.ph {
	background-position: -48px -165px;
}
.flag.pk {
	background-position: -48px -176px;
}
.flag.pl {
	background-position: -48px -187px;
}
.flag.pm {
	background-position: -48px -198px;
}
.flag.pn {
	background-position: -48px -209px;
}
.flag.pr {
	background-position: -48px -220px;
}
.flag.ps {
	background-position: -48px -231px;
}
.flag.pt {
	background-position: -48px -242px;
}
.flag.pw {
	background-position: -48px -253px;
}
.flag.py {
	background-position: -48px -264px;
}
.flag.qa {
	background-position: -48px -275px;
}
.flag.re {
	background-position: -48px -286px;
}
.flag.ro {
	background-position: -48px -297px;
}
.flag.rs {
	background-position: -48px -308px;
}
.flag.ru {
	background-position: -48px -319px;
}
.flag.rw {
	background-position: -48px -330px;
}
.flag.sa {
	background-position: -48px -341px;
}
.flag.sb {
	background-position: -48px -352px;
}
.flag.sc {
	background-position: -48px -363px;
}
.flag.scotland {
	background-position: -48px -374px;
}
.flag.sd {
	background-position: -48px -385px;
}
.flag.se {
	background-position: -48px -396px;
}
.flag.sg {
	background-position: -48px -407px;
}
.flag.sh {
	background-position: -48px -418px;
}
.flag.si {
	background-position: -48px -429px;
}
.flag.sj {
	background-position: -48px -440px;
}
.flag.sk {
	background-position: -48px -451px;
}
.flag.sl {
	background-position: -48px -462px;
}
.flag.sm {
	background-position: -48px -473px;
}
.flag.sn {
	background-position: -48px -484px;
}
.flag.so {
	background-position: -48px -495px;
}
.flag.sr {
	background-position: -48px -506px;
}
.flag.st {
	background-position: -48px -517px;
}
.flag.sv {
	background-position: -48px -528px;
}
.flag.sy {
	background-position: -48px -539px;
}
.flag.sz {
	background-position: -48px -550px;
}
.flag.tc {
	background-position: -48px -561px;
}
.flag.td {
	background-position: -48px -572px;
}
.flag.tf {
	background-position: -64px 0;
}
.flag.tg {
	background-position: -64px -11px;
}
.flag.th {
	background-position: -64px -22px;
}
.flag.tj {
	background-position: -64px -33px;
}
.flag.tk {
	background-position: -64px -44px;
}
.flag.tl {
	background-position: -64px -55px;
}
.flag.tm {
	background-position: -64px -66px;
}
.flag.tn {
	background-position: -64px -77px;
}
.flag.to {
	background-position: -64px -88px;
}
.flag.tr {
	background-position: -64px -99px;
}
.flag.tt {
	background-position: -64px -110px;
}
.flag.tv {
	background-position: -64px -121px;
}
.flag.tw {
	background-position: -64px -132px;
}
.flag.tz {
	background-position: -64px -143px;
}
.flag.ua {
	background-position: -64px -154px;
}
.flag.ug {
	background-position: -64px -165px;
}
.flag.um {
	background-position: -64px -176px;
}
.flag.us {
	background-position: -64px -187px;
}
.flag.uy {
	background-position: -64px -198px;
}
.flag.uz {
	background-position: -64px -209px;
}
.flag.va {
	background-position: -64px -220px;
}
.flag.vc {
	background-position: -64px -231px;
}
.flag.ve {
	background-position: -64px -242px;
}
.flag.vg {
	background-position: -64px -253px;
}
.flag.vi {
	background-position: -64px -264px;
}
.flag.vn {
	background-position: -64px -275px;
}
.flag.vu {
	background-position: -64px -286px;
}
.flag.wales {
	background-position: -64px -297px;
}
.flag.wf {
	background-position: -64px -308px;
}
.flag.ws {
	background-position: -64px -319px;
}
.flag.ye {
	background-position: -64px -330px;
}
.flag.yt {
	background-position: -64px -341px;
}
.flag.za {
	background-position: -64px -352px;
}
.flag.zm {
	background-position: -64px -363px;
}
.flag.zw {
	background-position: -64px -374px;
}
/* @end */

/* @end */

/* @group Comments */

#disqus_thread{
	padding: 0 70px;
}
.comment-desc{
	text-align: center;
}
/*#.dsq-reply h3:first-child{
	display: none;
}*/

/* @end */



/* @group Float Box (for share kit)*/
.float-box{
	display: block;
	height: 200px;
	width: 110px;
	position: fixed;
	top: 50%;
	margin-top: -1px;
	margin-left: -100px;
	z-index: 10000;
	background-image: url('share-kit-icons.jpg') ;
	background-repeat: no-repeat;
	background-position: 108px -191px;
}
.float-box-list{
	display: block;
	height: 180px;
	width: 100px;
	padding-top: 15px;
}
.float-box-list li{
	display: block;
	height: 32px;
	width: 32px;
	float: right;
	background: url('share-kit-icons.jpg');
	clear: both;
	margin-top: 10px;
}
.float-box-list li a{
	display: block;
	height: 32px;
	width: 32px;
	overflow: hidden;
	text-indent: -10000px;
	
	
}
li.share-twitter {
	background-position: 0 -48px;
}
li.share-buzz{
	background-position: 0 -96px;
}
li.share-appstore{
	height: 32px !important;
	width: 96px !important;
	background-position: 0 -144px;
}
li.share-appstore a{
	display: block;
	height: 32px !important;
	width: 96px !important;
}

/* @end */



/* Thanx for Espresso! It helps me a lot.*/
/* Get Espresso : http://www.macrabbit.com/ */
/* by Shawn */
